<div class="container">
  <% if session[:user_id] %>
    <%= "<h1>Welcome, " + current_user.name + "</h1>" %>
  <% else %>
    <h2>Users:</h2>
    <% @users.each do |user| %>
      Name: <%= user.name %><br>
      Email: <%= user.email %><br>
      <br>
    <% end %>
  <% end %>
  <%# TODO:
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>

</div>
